/* content */
.ui-content {
  font-size: .7rem;
}
.ui-content h1 {
  font-weight: normal;
}
.ui-content h1 span {
  color: #999;
  font-size: .6rem;
}
.ui-abs {
  position: absolute;
  border: 1px solid #f00;
  margin: auto;
}
.ui-abs-center {
  position: absolute;
  border: 1px solid #f00;
  margin: auto;
  left: 0;
  right: 0;
}
/* bar */
#header .ui-button {
  border: none;
}
#header .ui-cell {
  border-top: none;
}
#header .ui-cell:before {
  border-top: none;
}
.ui-button-none {
  border: 1px solid #f00;
  color: #333;
  border: none;
}
.ui-cell-none {
  border-top: none;
}
.ui-cell-none:before {
  border-top: none;
}
/* theme */
.main-color {
  color: #f00;
}
/* button */
.ui-button {
  margin-top: 0.25rem;
}
.ui-button-box {
  margin-top: 0.5rem;
}
