/* CSS Document */
.ui-tips {
	padding: 20px 15px;
	text-align: center;
	font-size: 16px;
	margin:5px 0px;
}
.ui-tips i {
	display: inline-block;
	width: 32px;
	height: 1px;
	vertical-align: top;
	font-size:20px;
}
.ui-tips-info {
	background-color: rgba(205, 242, 255, 0.95);
	color: #00aeef;
}
.ui-tips-info i {
	color: #0090ff;
}
.ui-tips-success {
	background-color: rgba(228,255,202, 0.95);
	color: #65d521;
}
.ui-tips-success i {
	color: #65d521;
}
.ui-tips-warn {
	background-color: rgba(255, 242, 183, 0.95);
	color: #f76249;
}
.ui-tips-warn i {
	color: #f76249;
}
.ui-tooltips {
	width: 100%;
	position: relative;
	z-index: 99;
	overflow: hidden;
	margin:5px 0px;
	line-height: 44px;
	height: 44px;
	
	/*设置容器为Flex布局*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
.ui-tooltips-warn {
	background-color: rgba(255, 242, 183, 0.95);
	color: #f76249;
}
.ui-tooltips-info {
	background-color: rgba(205, 242, 255, 0.95);
	color: #00aeef;
}
.ui-tooltips-success {
	background-color: rgba(228,255,202, 0.95);
	color: #65d521;
}
.ui-tooltips-cnt {
	width:90%;
	overflow: hidden;
}
.ui-tooltips-success .ui-tooltips-cnt i {
	color: #65d521;
}
.ui-tooltips-right {
	position:absolute;
	right:5px;
	color:#999;
	cursor:pointer;
}

.ui-tooltips-left {
	font-size:20px;
	cursor:pointer;
	margin-left:5px;
	margin-right:10px;
}